{% extends "base.html" %}

{% block content %}

{% if is_auth %}
<h1>Рекомендации</h1>
{% else %}
<h1>Для просмотра списка рекомендаций - авторизуйтесь</h1>
{% endif %}
<div>
    Авторы: команда - IT Developer, Новосибирск, 2024 г.
</div>
<br>
{% if is_auth %}
    <a href="/rec" class="btn btn-secondary">Добавить рекомендацию</a>
<br><br>
<h1>Список рекомендаций:</h1>
<br>
{% for rec in recs%}
<div class="col-md6 border rounded">
    <div style="font-size: 20px">
        {{rec.num}}. {{rec.text}}
    </div>
{% if is_auth %}
        <div>
            <a href="/rec/{{ rec.num }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/rec_delete/{{ rec.num }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
{% endif %}
</div>
<br>
{% endfor %}
{% endif %}
{% endblock %}