{% extends "base.html" %}

{% block content %}

    {% if is_auth %}
    <h1>Рекомендации</h1>
    {% else %}
    <h1>Для просмотра списка рекомендаций - авторизуйтесь</h1>
    {% endif %}
    <div>
        Авторы: команда - IT Developer, Новосибирск, 2024 г.
    </div>
    <br>
    {% if is_auth %}
    <a href="/rec" class="btn btn-secondary">Добавить рекомендацию</a>
    <br><br>
    <h1>Список рекомендаций:</h1>
    <br>
    {% for rec in recs %}
        <div class="col-md6 border rounded">
            <div style="font-size: 20px">
                {{ rec.num }}. {{ rec.text }}
            </div>
            {% if is_auth %}
            <div>
                <a href="/rec/{{ rec.num }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/rec_delete/{{ rec.num }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <br>

    <h1>Список выданных рекомендаций:</h1>
    <br>
    {% for user in status_rec %}
        <h3>{{ user.name }}</h3>
        <div>
            {% for stat in status_rec[user] %}
                <div class="col-md6 border rounded">
                <div style="font-size: 20px">
                        Заголовок -
                        {{ stat["status_object"].rec_header }}
                    </div>
                    <div style="font-size: 20px">
                        {{ stat["status_object"].rec_id }}.
                        {{ stat["text_recommendation"] }}
                    </div>
                    <div style="font-size: 20px">
                        Статус публикации -
                        {{ statuses[stat["status_object"].rec_status_public] }}
                    </div>
                    <div style="font-size: 20px">
                         Дата и время публикации - {{ stat["status_object"].registration_day }}
                    </div>
                    {% if is_auth %}
                    <div>
                        <a href="/status/{{ stat["status_object"].id }}" class="btn btn-warning">
                            Изменить
                        </a>
                        <a href="/" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
  {% endif %}
{% endblock %}